// Hide resolution, duration, and ratings banner from preview thumbnail.
.scene-card {
  .scene-specs-overlay,
  .rating-banner {
    display: none !important;
  }

  // Only show the checkbox if hovering over the thumbnail, not any other parts
  // of the card.
  &:hover .card-check {
    opacity: 0;
  }
  &:has(.video-section.thumbnail-section:hover) .card-check {
    opacity: 0.75;
    transition: opacity 0.5s;
  }

  .card-section {
    height: 100%;
    // Hide the hard-coded title
    & > a:first-child {
      display: none;
    }
  }

  // Consistent height for details
  &__details {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
