.vsc-card-description {
  &__details {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__small-bar {
    display: flex;
    align-items: start;
    margin-bottom: 3px;

    font-size: 13px;
    line-height: 1;
  }

  &__studio {
    line-height: 1.2;
  }

  &__file-data {
    align-items: center;
    margin-left: auto;
    opacity: 0.65;
  }

  &__duration {
    margin-right: 5px;
  }

  &__resolution {
    padding: 1px 4px;
    background-color: #f5f8fa;
    color: #30404d;
    font-weight: 900;
    user-select: none;
  }

  &__title-link {
    display: inline-block;
  }

  &__performers {
    margin: 10px 0;
  }
}
