.vsc-card-description {
  &__details {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__resolution {
    padding: 0 4px 1px;
    background-color: #f5f8fa;
    color: #30404d;
    font-weight: 900;
    opacity: 0.65;
    font-size: 13px;
  }
}
