@import "@scss/";

$ar-size: 5px;
$ar-thickness: 2px;
$ar-gap: 2px;
$ar-padding-y: $ar-gap + $ar-thickness;
$ar-padding-x: $ar-padding-y + 2px;

.valkyr-scene-card .card-section {
  display: grid;
  grid-template-rows: [details-top tag-banner-top] auto [tag-banner-bottom top-line-top] auto [top-line-bottom title-top] auto [title-bottom key-data-top] auto [key-data-bottom description-top] 1fr [description-bottom director-top] auto [director-bottom performers-top] auto [performers-bottom stash-info-top] auto [stash-info-bottom details-bottom];
  height: 100%;

  /* -------------------------------- Top line -------------------------------- */
  .vsc-top-line {
    grid-row: top-line-top / top-line-bottom;
    display: grid;
    grid-template-columns: [top-line-start studio-start] 1fr [studio-end user-data-start] max-content [user-data-end top-line-end];
    column-gap: $column-gap;
    margin-bottom: 3px;

    font-size: var(--#{$prefix}-font-sm);
    opacity: var(--#{$prefix}-top-line-opacity);

    // Due to complexity of nested components, just hide it if it's empty
    // instead of stopping it from rendering
    &:empty {
      display: none;
    }
  }

  .vsc-studio {
    grid-column: studio-start / studio-end;
  }

  .vsc-user-data {
    grid-column: user-data-start / user-data-end;
    display: flex;
    column-gap: $column-gap;
  }

  .vsc-play-count,
  .vsc-o-count,
  .vsc-rating,
  .vsc-organized {
    display: flex;
    align-items: center;

    svg {
      margin: 0;

      &:not(:last-child) {
        margin-right: toRem(5);
      }
    }
  }

  /* ---------------------------------- Title --------------------------------- */

  .vsc-title {
    grid-row: title-top / title-bottom;
    overflow-wrap: anywhere;
  }

  /* -------------------------------- Key data -------------------------------- */

  .vsc-key-data {
    grid-row: key-data-top / key-data-bottom;

    display: flex;
    margin-top: 3px;

    font-size: var(--#{$prefix}-font-sm);
  }

  .vsc-shared-file-data,
  .vsc-unique-file-data {
    display: flex;
    column-gap: $column-gap;
    align-items: center;
  }

  .vsc-shared-file-data {
    margin-right: auto;
  }

  .vsc-resolution {
    &--icon {
      display: inline;
      padding: 0 4px;
      background-color: var(--#{$prefix}-resolution-icon-bg-color);
      color: var(--#{$prefix}-resolution-icon-color);
      font-weight: 900;
      user-select: none;
    }
  }

  .vsc-aspect-ratio {
    line-height: 1;
    padding: $ar-padding-y $ar-padding-x;
    outline: $ar-thickness solid white; /* the color here */
    outline-offset: -1 * $ar-thickness;
    mask: conic-gradient(at $ar-size $ar-size, #0000 75%, #000 0) 0 0 /
        calc(100% - $ar-size) calc(100% - $ar-size),
      conic-gradient(#000 0 0) content-box;
  }

  /* ------------------------------- Description ------------------------------ */

  // Fill available space to match card heights
  .vsc-description {
    grid-row: description-top / description-bottom;
    flex-grow: 1;
  }

  .vsc-description-inner {
    // Limit number of lines
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-line;

    margin-top: $row-gap;
  }

  /* -------------------------------- Director -------------------------------- */

  .vsc-director {
    margin-top: $row-gap;
  }

  /* ----------------------------------------- Tag banner ----------------------------------------- */

  .vsc-tag-banner {
    grid-row: tag-banner-top / tag-banner-bottom;
    padding: 0.3rem 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    border-radius: 3px;
  }

  /* --------------------------------------- Performers list -------------------------------------- */

  .vsc-performers-list {
    grid-row: performers-top / performers-bottom;
  }
}
