@import "../../scss/functions";
@import "../../scss/variables";

$column-gap: toRem(10);

.valkyr-scene-card .card-section {
  display: grid;
  grid-template-rows: [details-top top-shelf-top] auto [top-shelf-bottom title-top] auto [title-bottom key-info-top] auto [key-info-bottom description-top] auto [description-bottom director-top] auto [director-bottom performers-top] auto [performers-bottom stash-info-top] auto [stash-info-bottom details-bottom];

  /* -------------------------------- Top shelf ------------------------------- */
  .vsc-top-shelf {
    display: grid;
    grid-template-columns: [top-shelf-start studio-start] 1fr [studio-end user-data-start] max-content [user-data-end top-shelf-end];
    column-gap: $column-gap;

    font-size: var(--#{$prefix}-font-sm);
  }

  .vsc-studio {
    grid-column: studio-start / studio-end;
    grid-row: top-shelf-top / top-shelf-bottom;
  }

  .vsc-user-data {
    grid-column: user-data-start / user-data-end;
    grid-row: top-shelf-top / top-shelf-bottom;

    display: flex;
    column-gap: $column-gap;
  }

  .vsc-play-count,
  .vsc-o-count {
    svg {
      margin-right: toRem(3);
    }
  }

  /* ---------------------------------- Title --------------------------------- */
  .vsc-title {
    grid-row: title-top / title-bottom;
  }
}
