@import "./scss";

.valkyr-scene-card {
  display: flex;

  // Hide resolution, duration, and ratings banner from preview thumbnail.
  .scene-specs-overlay,
  .rating-banner {
    display: none !important;
  }

  // Hide hardcoded title. Title will be recreated.
  .card-section > a:first-child {
    display: none !important;
  }

  .fa-icon {
    // Set to zero here to be overridden elsewhere as needed.
    margin: 0;
  }
}

.slick-slider .valkyr-scene-card {
  // Refill space
  height: 100%;
}

:root {
  --#{$prefix}-font-sm: #{toRem(12)};
  --#{$prefix}-top-line-opacity: #{0.8};
}
