$prefix: vsc;

$column-gap: toRem(10);
$row-gap: toRem(10);

$stash-body-color: #f5f8fa;
$stash-card-bg: #30404d;
$stash-link-color: #48aff0;

$stash-gender-female: #f38cac;
$stash-gender-intersex: #c8a2c8;
$stash-gender-male: #89cff0;
$stash-gender-nonbinary: #c8a2c8;
$stash-gender-transfemale: #c8a2c8;
$stash-gender-transmale: #c8a2c8;
$stash-gender-unknown: #f5f8fa;

$performer-avatar-size: toRem(60);
